/* body{
  background-color: aqua;
} */
/* h1,h2,h3{
  background-color: brown;
  color: white;
} */
/* h1{
  background-color: #ae7171;
}
#heading1{
  background-color: rgb(131, 179, 222);
} */
/* > + ~ */
/* div~p{
  background-color: brown;
  color: white;
} */
 p:nth-child(2){
  background-color: brown;
  color: white;
 }
 /* div p:nth-of-type(1){
  background-color: blueviolet;
  color: black;
 } */